body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;
}
body {
  background-image: url("../photo.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: lightblue;
}
body, html {
  height: 100%;
  color: white;
  line-height: 1.8;
}
a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
a:active {
  color: brown;
  background-color: transparent;
  text-decoration: none;
}
.navigation {
	text-align: center; 
}
.navigation a{
	color: white;
	font-weight: bold;
	padding: 30px;
}
.navigation a:hover{
	color: black;
	padding: 30px;
	text-decoration: none;
}
.navigation a:active{
	color: brown;
	padding: 30px;
	text-decoration: none;
}
.about {
	text-align: center; 
	font-family: 'Xanh Mono', monospace;
	font-size: 20px;
}
.aboutMe p{
	text-align: center;
	margin: 0;
}
#paragraph1 {
	padding-top: 120px;
	font-family: 'Xanh Mono', monospace;
	font-size: 40px;
}
#paragraph2 {
	letter-spacing: 10px;
	font-size: 60px;
}
#paragraph3 {
	font-size: 30px;
	padding-bottom: 200px;
}
.classh3 {
	text-align: center;
    background-color: lightgrey;
}
.column {
	color: darkslategray;
    display: flex;
    align-items: center;
    justify-content: center;
	font-size: 18px;
}
.about a{
	color: darkslategray;
	font-weight: bold;
	padding: 30px;
}
.about a:hover{
	color: brown;
	padding: 30px;
	text-decoration: none;
}
.about a:active{
	color: lightcoral;
	padding: 30px;
	text-decoration: none;
}
.work {
	font-size: 60px;
	font-weight: bold;
}
.footer {
	text-align: center;
}
#email {
	padding: 20px;
	font-size: 20px;
}
#phone {
	padding: 20px;
	font-size: 20px;
}
#email i {
	font-size: 20px;
	color: white;
	text-shadow: 2px 2px 4px darkslategray;
	padding-right: 10px;
}
#phone i {
	font-size: 20px;
	color: white;
	text-shadow: 2px 2px 4px darkslategray;
	padding-right: 10px;
}
